@model Sem2Lab1SQLServer.Ratings

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагування</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RatingId" />
            <div class="form-group">
                <label asp-for="CriticId" class="control-label"></label>
                <select asp-for="CriticId" class="form-control" asp-items="ViewBag.CriticId"></select>
                <span asp-validation-for="CriticId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirm">Зберегти</button>
                <a asp-action="Index" class="btn btn-outline-primary">Повернутися до рейтингу</a>
            </div>

            <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Підтвердження</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Ви впевнені що хочете внести зміни?
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btnSave">Зберегти</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
