@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p class="display-2">GameLab</p>
        <h3 class="font-weight-light">Твоя бібліотека у світі комп'ютерних ігор</h3>
        <a asp-action="Index" asp-controller="Games" class="btn btn-dark">Перейти до бібліотеки</a>

    </div>
